<div class="container">
  <div class="row">
    <a class="btn btn=primary" routerLink="/admin">< Back to Attendee List</a>
  </div>
  <div>
    <div class="form-group">
      <label>Name</label>
      <div class="form-control">{{attendeeReg.name}}</div>
    </div>
    <div class="form-group">
      <label>Email</label>
      <div class="form-control">{{attendeeReg.email}}</div>
    </div>
    <div class="form-group">
      <label>Phone</label>
      <div class="form-control">{{attendeeReg.phone}}</div>
    </div>
    <div class="form-group">
      <label>Diet</label>
      <div class="form-control">{{attendeeReg.diet}}</div>
    </div>
    <div class="form-group">
      <label>Other Dietary Requirements</label>
      <div class="form-control">{{attendeeReg.dietReq}}</div>
    </div>
    <div class="form-group">
      <label>Preference Date</label>
      <div class="form-control">{{attendeeReg.preferenceDate}}</div>
    </div>
    <div class="form-group">
      <label>Has Paid (y/n)</label>
      <div class="form-control">{{attendeeReg.hasPaid}}</div>
    </div>
  </div>
</div>
